.header{
    background-color: $verde;

    .contenido-header{
        text-align: center;
        @include tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $separacion - 3rem 0;
    }}

    h1{
        color: $blanco;
        margin-bottom:1rem ;
        @include tablet{
            margin-bottom:0 ;
        }
    }

    &.fijo{
        position: fixed;
        width: 100%;
        box-shadow: 0 0.3rem 0.5rem #444;
    }
}



.navegacion-principal{
    display: flex;
    gap: 2rem;
    justify-content: center;
    a{
        font-size: 2.2rem;
        color: $blanco;
        font-weight: 400;

        &:hover{
            color: $amarillo;
        }
    }
}
