.bg-verde{
    background-color: $verde;
}
.bg-amarillo{
    background-color: $amarillo;
}

.calendario{
    padding: 0;
    list-style: none;
    li{
        padding: $separacion / 2;
        font-weight: $bold;

        span{
            font-weight: $regular;
        }
    }
}

.bg-verde .calendario li:nth-child(odd){
    background-color: darken($color: $verde, $amount: 10);
}
.bg-amarillo .calendario li:nth-child(odd){
    background-color: darken($color: $amarillo, $amount: 15);
}